<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include css %>
  <title>Hello, world!</title>
</head>
<body class="container">
<%-include nav%>
<h1> <%=title%> </h1>
<!-- Optional JavaScript; choose one of the two! -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
            src="https://w0.peakpx.com/wallpaper/544/820/HD-wallpaper-sea-waves-sky-mind-beach-floor-ocean-sea-landscape-thumbnail.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water"
    />

    <img
            src="https://images.squarespace-cdn.com/content/v1/5366a1f8e4b0f0c8a1bd660f/1518982308572-AXQEM0CJEYN1QU3EVDFO/Stormy-Fanad2018feb-website.jpg?format=2500w"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
            src="https://external-preview.redd.it/m62adRIx_oB1h1HwKrolWp13Hp3xscikoyrWRnMfn6w.png?auto=webp&s=7d0c54ec47dadd86493c0fe21e37c8a9014cacf1"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Mountains in the Clouds"
    />

    <img
            src="https://cdn.pixabay.com/photo/2020/07/12/16/49/nature-5397903_1280.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
            src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/after-the-storm-long-branch-beach-william-brooks.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Waves at Sea"
    />

    <img
            src="https://cff2.earth.com/uploads/2017/05/31165044/shutterstock_360113384.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Yosemite National Park"
    />
  </div>
</div>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>